<h1><%= t('title.user') %></h1>

<p><strong><%= t('userpage.mail') %></strong>: <%= @user.email %></p>

<p><strong><%= t('userpage.postalcode') %></strong>: <%= @user.postalcode %> </p>

<p><strong><%= t('userpage.introduction') %></strong>: <%= @user.introduction %> </p>
